<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Detail</title>
</head>

<body>
    <h1>{{ character.name }}</h1>
    <p>Total AP: {{ character.total_AP }}</p>
    <h2>Equipped Items</h2>
    <ul>
        {% for item in equiped_items %}
        <li>{{ item.name }} ({{ item.slot.name }})</li>
        {% endfor %}
    </ul>
    <h2>Backpack</h2>
    <ul>
        {% for item in backpack_items %}
        <li>
            {{ item.name }} ({{ item.slot.name }}) - <a href="{% url 'move_to_backpack' character.id item.id %}">Move to
                Equipment</a>
        </li>
        {% endfor %}
    </ul>
    <h2>Equip Items</h2>
    <ul>
        {% for item in items %}
        <li>
            {{ item.name }} ({{ item.AP}}) -
            {% if item.slot is None or item.slot.character != character %} <a
                href="{% url 'equip_item' character.id item.id %}">Equip to {{ item.slot.name }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

</body>

</html>